body {
    font-family: Helvetica, sans-serif;
}

.hero {
    background-color: #1F2937;
    display: flex;
    margin: 0;
}

.hero1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: extra-bold;
}

.hero2 {
    font-size: 18px;
    color: #E5E7EB;
}

#header {
    font-size: 24px;
    color: #F9FAF8;
}

#nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    background-color: #1F2937;
    display: flex;
    color: #F9FAF8;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: light italic;
}

.rando-text-1 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    display: inline;
    align-items: center;
}

.rando-text-2 {
    color: #1F2937;
}

ul {
    list-style: none;
}

.rando {
    display: inline-block;
    margin: 0;
}

.button {
    background-color: #3882f6;
}

a:link {
    text-decoration: none;
    color:#3882f6
}

a:visited{
    text-decoration: none;
    color: #3882f6;
}

a:hover {
    text-decoration: none;
    color: #3882f6;
}

a:active {
    text-decoration: none;
    color: #3882f6;
}